@charset "UTF-8";
@import "./variables.scss";

article, aside, blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $gray_bright;
  font-size: 16px;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  height: 100%;
}

a {
  color: $primary;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

table {
  border-collapse:collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

fieldset, img {
  border: 0;
  vertical-align:middle;
  width: 100%;
  max-width: 100%;
}

li {
  list-style: none;
}

button, input, optgroup, option, select, textarea {
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit;
  outline: 0;
  -webkit-appearance: none;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  -webkit-appearance: none;
  border: 0;
  background: 0 0;
}

a {
  -webkit-touch-callout: none;
  text-decoration: none;
}

em, i {
  font-style: normal;
}

input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, '微软雅黑';
  font-size: 16px;
  outline: 0;
  color: $bold;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background: none;
}

textarea {
  word-wrap: break-word;
  resize: none;
}

input[type=button], input[type=submit] {
  cursor: pointer;
}

input[type=text]:focus, select:focus, textarea:focus {
  color: $bold_dark;
}

input[disabled=disabled] {
  cursor: not-allowed;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-webkit-input-placeholder {
  color: $gray_dark;
}

input:-moz-placeholder {
  color: $gray_dark;
}

input::-moz-placeholder {
  color: $gray_dark;
}

html .hide {
  display: none !important;
}

h1 {
  font-size: 18px;
  font-weight: 500;
}

*, :after, :before {
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  min-height: 100%;
  background: $gray_light;
}