/* theme */
$primary: #0066B2;
$primary_dark: #0066EE;
$primary_darker: #0033FF;
$primary_light: #3388CC;
$primary_lighter: #44CCFF;
$primary_bright: #D0E5FC;

$gray: #DDD;
$gray_dark: #CCC;
$gray_darker: #AAA;
$gray_light: #E1E1E1;
$gray_lighter: #F2F7FB;
$gray_bright: #FFF;

$bold: #333;
$bold_dark: #222;
$bold_darker: #000;
$bold_light: #4D4D4D;
$bold_lighter: #666;

$success: #67C23A;
$warning: #E6A23C;
$danger: #E00202;
$info: #909399;
